$base-color: #F8E71C;
$white: #fff;
$black:#000;
$main-back: linear-gradient(95deg, rgb(250, 255, 238) 18%, rgba(121, 148, 128, 0) 50%, rgb(255, 246, 246) 82%);
$main:#11223E;
$main-border:#f3f4f5;
$border-button:#e9ecf0;
$mark:#FC3969;
$mark-shadow:rgba(252, 57, 105, 0.3);
$svg-def:#B8BDC6;
$svg-mark:#F5A623;
$ligth-border:#CFD3D8;
$itemup:#FAFFEE;
$itemdawn:#FFF6F6;
$main-mark:#D0021B;
$up-mark:#417505;
$desk:#355B08;
$desk-back:#D6EABE;