extends layouts/default
include helpers/mixins

block variables
	- const title = "test-assignments"

block content
	main.main
		include ../blocks/modules/header/header
		include ../blocks/modules/table/table
block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")