.table
    .table__column-main
        .table__row
            .table__row-list
                +checkbox('check--right')
                button.table__button
                    img(src="../img/svg/trash.svg", alt="")
                button.table__button
                    img(src="../img/svg/update.svg", alt="")
                button.table__button
                    img(src="../img/svg/rocket.svg", alt="")
            .table__last 
                span Оценка частотн.
        +table-row('active' , true, 'Тинькофф банк отзывы')
        +table-row('' , false , 'Тинькофф банк ')

        .table__show-block
            button.table__show-button Просмотреть Топ-10

        +table-row('active' , false , 'Тинькофф банк отзывы')
        +table-row('' , true , 'Тинькофф банк')
        +table-row('active' , true, 'Тинькофф банк отзывы')
        +table-row('' , false , 'Тинькофф банк ')
        +table-row('active' , false , 'Тинькофф банк отзывы')
        +table-row('' , true , 'Тинькофф банк')

    .table__column
        +data({'items':[{
            'number'         : '62',
            'description'    : '30',
            },{
            'number'         : '3',
            },{
            'number'         : '97',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            }
        ]},'date-list__item--gray')

        +data({'items':[{
            'number'         : '62',
            'description'    : '30',
            'wellup'         : '1',
            },{
            'number'         : '3',
            'wellduwn'       : '1',
            },{
            'number'         : '97',
            'weltext'        : 'new'
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            }
        ]}, 'date-list__item--up')
        +data({'items':[{
            'number'         : '62',
            'wellup'         : '1',
            },{
            'number'         : '3',
            },{
            'number'         : '97',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            }
        ]}, 'date-list__item--dawn')

        +show-content()
        +show-content()
        +show-content()
        +show-content()
        +show-content()

        +data({'items':[{
            'number'         : '62',
            'wellup'         : '1',
            },{
            'number'         : '3',
            },{
            'number'         : '97',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            }
        ]})
        +data({'items':[{
            'number'         : '62',
            'wellup'         : '1',
            },{
            'number'         : '3',
            },{
            'number'         : '97',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            }
        ]})

        +data({'items':[{
            'number'         : '62',
            'wellup'         : '1',
            },{
            'number'         : '3',
            },{
            'number'         : '97',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            }
        ]})
        +data({'items':[{
            'number'         : '62',
            'wellup'         : '1',
            },{
            'number'         : '3',
            },{
            'number'         : '97',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            }
        ]})
        +data({'items':[{
            'number'         : '62',
            'wellup'         : '1',
            },{
            'number'         : '3',
            },{
            'number'         : '97',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            }
        ]})
        +data({'items':[{
            'number'         : '62',
            'wellup'         : '1',
            },{
            'number'         : '3',
            },{
            'number'         : '97',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            },{
            'number'         : '1',
            }
        ]})