@font-face {
    font-family: 'HarmoniaSansProCyr-Regular';
    src: url('../fonts/HarmoniaSansProCyr-Regular.woff2') format('woff2'),
         url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }